*{
  box-sizing: border-box;
  text-align: left;
}
html,body{
  height:100%;
  width:100%;
}
button{
  cursor: pointer;
}
body {
  font-family:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#333;
  max-width:1140px;
  margin:0 auto;
  line-height:1.5;
}

#app {
  padding: 10px;
  width:100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-row{
  flex-direction: row!important;
}
.justify-center{
  justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.title{
  font-weight: normal;
  font-size:36px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}
.title p{
  word-break: break-all;
  text-align: center;
}
.title span{
  font-size: 14px;
  margin-left:auto;
  flex-shrink: 0;
}
.title-author{
  color:#333;
  font-size:14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  flex-shrink: 0;
}
.title-author img{
  border-radius:50%;
  display: block;
  width:30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul,li,dl,dt,ol{
  list-style: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.itemBox{
  margin: 20px 0 20px;
}
.itemBox_title{
  display: flex;
  margin: 20px 0 10px;
}
.itemBox_title .label{
  margin:0 auto 0 0;
}
.itemBox_title a{
  margin-left:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label{
  margin: 20px 0 10px;
}
.label span{
  font-size:14px;
}
.CountInput{
  margin:10px 0 20px 0;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.createButton{
  width:100%;
  height:40px;
  line-height: 40px;
  text-align: center;
  font-size:14px;
  display: block;
  cursor: pointer;
}
.Identity{
  margin: 20px 0;
}
